@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root {
  --color-blue-medium: #0A64EC;
  --color-blue-dark: #100E4F;
  --color-purple: #9162BB;
  --color-purple-light: #AD6EE7;
  --color-gray-light: #EDF1FA;
  --color-gray-medium: #909090;
  --border-radius-small: 3px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 2.8em;
}