:root {
  --color-blue-medium: #0A64EC;
  --color-blue-dark: #100E4F;
  --color-purple: #9162BB;
  --color-purple-light: #AD6EE7;
  --color-gray-light: #E0DFFF;
  --color-gray-medium: #909090;
  --border-radius-small: 3px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}