.sronly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hero {

  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
  }

}

.heroContent {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  text-align: center;
  padding-right: 1em;
  margin-bottom: 5em;

  @media (min-width: 480px) {
    font-size: 1em;
  }

  @media (min-width: 960px) {
    align-items: flex-start;
    font-size: 1.5vw;
    font-size: clamp(1em, 1.5vw, 1.5em);
    text-align: left;
    margin-bottom: 0;
  }

  h1 {
    font-size: 3em;
    line-height: 1;
  }

  p {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1.4em;
  }

  button {
    font-size: 1.1em;
  }

}

.heroBook {

  font-size: 1.4em;

  @media (min-width: 960px) {
    font-size: 2.5vw;
    font-size: clamp(2em, 2.5vw, 2.2em);
  }

}



/* Form */

.form {

  max-width: 15rem;
  margin: 2rem auto 0;

  @media (max-width: 600px) {
    padding: 0 2rem;
  }

}

@media (max-width: 600px) {
  .form {
    width: 100%;
    max-width: none;
    font-size: 1.2em;
  }
}

.form p,
.form input,
.form button {
  width: 100%;
  text-align: center;
}

.form p {
  color: var(--color-gray-light);
  font-size: .8em;
  font-weight: 400;
}

.form input {
  height: 2.5em;
  font-size: 1.1em;
}

.form[data-theme="light"] input {
  border: solid 2px var(--color-gray-medium);
}

.form button {
  color: white;
  margin-top: .6em;
}


.highlights {

  padding: 3rem 0 !important;

  ul {

    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: .8em;
    padding: 0;
    margin: 0;

    @media (min-width: 960px) {
      font-size: 1em;
      flex-direction: row;
    }

  }

  li {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: 3em;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: 960px) {
      flex-direction: row;
      text-align: left;
      margin: 0;
    }

  }


  svg {

    display: block;
    font-size: 4em;
    margin: 0 0 .4em 0;

    @media (min-width: 960px) {
      font-size: 3.4em;
      margin: 0 .4em 0 0;
    }

  }

  h3 {
    font-size: 1.7em;
    margin-bottom: 0;
  }

  p {
    margin-top: .4em;
  }

}

.learn {

  ul {
    font-size: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {

    margin: 0 0 1em 0;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.special {

  padding: 0 0 1.5em !important;

  p {
    font-size: 1.2em;
    margin: 0 0 .4em;
  }

  a {
    text-decoration: underline;
  }

}

.specialNote {
  font-size: .9em!important;
  color: rgba(255, 255, 255, .8) !important;
}

.author {

  padding: 3rem 0 !important;

  & > div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 960px) {
      flex-direction: row;
    }

    div {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

  }

  img {

    display: block;
    overflow: hidden;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin: 0 0 2em 0;

    @media (min-width: 960px) {
      margin: 0 2em 0 0;
    }

  }

  h2,
  p {

    width: 100%;
    text-align: center;

    @media (min-width: 960px) {
      text-align: left;
    }

  }

  h2 {
    font-size: 2em;
    margin-bottom: .2em;
  }

  p {

    font-size: 1.6em;
    margin: 0;

    a {
      text-decoration: underline;
    }

  }

}

.order {

  text-align: center;

  @media (min-width: 960px) {
    font-size: 1em;
  }

  button {

    font-size: .9em;

    @media (min-width: 480px) {
      font-size: 1.2em;
    }

    @media (min-width: 960px) {
      font-size: 1.3em;
    }

  }

}

.updates {

  button {

    font-size: .9em;

    @media (min-width: 960px) {
      font-size: 1em;
    }

  }

}

.tableOfContents {

  padding: 4rem 0 !important;

  @media (min-width: 960px) {
    padding: 4rem 6rem !important;
  }

  a {

    display: block;
    width: 100%;
    min-width: 0;
    padding: 1em;
    border: solid 1px #ccc;
    border-radius: .5em;
    margin: 0 1em 1em 1em;

    @media (min-width: 960px) {
      margin-bottom: 0;
    }

  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

}

.tableOfContentsContainer {

  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
  }

}

.tableOfContentsHeadline {
  margin-bottom: 1em !important;
}

.tableOfContentsNote {
  text-align: center;
  margin-top: 3em!important;
}






.tweets {

  width: 100vw;
  overflow-x: scroll;
  margin-top: 2em!important;

  ul {

    list-style: none;
    white-space: nowrap;
    padding: 0;
    margin: 0 -1em;

    @media (min-width: 960px) {
      display: flex;
      flex-wrap: wrap;
    }

  }

  li {

    display: inline-block;
    width: 85%;
    padding: 1em;

    @media (min-width: 660px) {
      width: 60%;
    }

    @media (min-width: 960px) {
      width: 33.33%;
    }

    @media (min-width: 1400px) {
      width: 25%;
    }

  }

}


.tweet {

  display: block;
  overflow: hidden;
  position: relative;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em;
  border: solid 1px #ccc;
  border-radius: .8em;

  p {
    color: inherit;
    white-space: normal;
    text-align: left;
  }

}

.tweetIcon {
  position: absolute;
  top: .6em;
  right: .6em;
  font-size: 1.2em;
  color: rgb(29, 161, 242);
}

.tweetHeader {

  display: flex;
  align-items: center;
  margin-top: 0;

  img {
    width: 2.6em;
    height: 2.6em;
    border-radius: 100%;
    margin-right: .5em;
  }

}

.tweetName {

  display: flex;
  flex-direction: column;
  font-size: .9em;

  span {
    color: #777;
  }

}

.tweetContent {

  font-size: 1.1em;

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.tweetFooter {

  padding-top: 1em;
  border-top: solid 1px #ccc;
  margin-top: 1.2em;

  span {
    color: #777;
    font-size: .9em;
  }

}
