.sronly:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hero {

  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
  }

}

.heroContent {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  text-align: center;
  padding-right: 1em;
  margin-bottom: 5em;

  @media (min-width: 480px) {
    font-size: 1em;
  }

  @media (min-width: 960px) {
    align-items: flex-start;
    font-size: 1.5vw;
    font-size: clamp(1em, 1.5vw, 1.5em);
    text-align: left;
    margin-bottom: 0;
  }

  h1 {
    font-size: 3em;
    line-height: 1;
  }

  p {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1.4em;
  }

  button {
    font-size: 1.1em;
  }

}

.heroBook {

  font-size: 1.4em;

  @media (min-width: 960px) {
    font-size: 2.5vw;
    font-size: clamp(2em, 2.5vw, 2.2em);
  }

}



/* Form */

.form {

  max-width: 15rem;
  margin: 2rem auto 0;

  @media (max-width: 600px) {
    padding: 0 2rem;
  }

}

@media (max-width: 600px) {
  .form {
    width: 100%;
    max-width: none;
    font-size: 1.2em;
  }
}

.form p,
.form input,
.form button {
  width: 100%;
  text-align: center;
}

.form p {
  color: var(--color-gray-light);
  font-size: .8em;
  font-weight: 400;
}

.form input {
  height: 2.5em;
  font-size: 1.1em;
}

.form[data-theme="light"] input {
  border: solid 2px var(--color-gray-medium);
}

.form button {
  color: white;
  margin-top: .6em;
}


.highlights {

  padding: 3rem 0 !important;

  ul {

    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: .8em;
    padding: 0;
    margin: 0;

    @media (min-width: 960px) {
      font-size: 1em;
      flex-direction: row;
    }

  }

  li {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: 3em;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: 960px) {
      flex-direction: row;
      text-align: left;
      margin: 0;
    }

  }


  svg {

    display: block;
    font-size: 4em;
    margin: 0 0 .4em 0;

    @media (min-width: 960px) {
      font-size: 3.4em;
      margin: 0 .4em 0 0;
    }

  }

  h3 {
    font-size: 1.7em;
    margin-bottom: 0;
  }

  p {
    margin-top: .4em;
  }

}

.learn {

  ul {
    font-size: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {

    margin: 0 0 1em 0;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.order {

  text-align: center;

  @media (min-width: 960px) {
    font-size: 1em;
  }

  button {

    font-size: .9em;

    @media (min-width: 960px) {
      font-size: 1em;
    }

  }

}

.updates {

  button {

    font-size: .9em;

    @media (min-width: 960px) {
      font-size: 1em;
    }

  }

}