.footer {

  [data-background-color="blue"],
  [data-background-color="purple"] {
    padding: 2rem 1rem;
  }

  [data-background-color="blue"] {

    button {
      background-color: var(--color-blue-dark);
    }

  }

  h3,
  p {
    color: white;
  }

  a {
    text-decoration: underline;
  }

}

.copyright {
  font-size: 1em;
  margin: 0;
}